#box{
	width:500px;
	overflow: hidden;
	background: #f1f1f1;
	box-shadow: 0 0 20px black;
	border-radius: 10px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index:9999;
	padding: 10px;
	text-align: center;
	display: none;
    
}

.close{
	font-size: 20px;
	color: white;
	padding: 10px 30px;
	cursor: pointer;
	background: rgb(20, 5, 87);
	display:inline-block;
	border-radius: 5px;
	cursor:pointer;
}